// Universal Box Sizing with Inheritance
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Main Styles
body {
    background-color: olive;
    font-family: $bodyFont;

    h1 {
        background-color: yellow;
    }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.flex-outer {
  list-style-type: none;
  padding: 0;
  width: 20rem;
  max-width: 30rem;

  li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:last-child {
      align-items: center;
    }

    label {
      padding: 0.5rem;
      max-width: 13.75rem;
    }

    input {

      &:not([type='checkbox']) {
        padding: 1rem;
        border: none;
        width: 100%;
      }
    }

    button {
      width: 100%;
      padding: 0.5rem 1rem;
      border: none;
      background: #14467C;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: .09em;
      border-radius: 2px;
    }

    &.checkElem {
      display: block;
    }

    a {
      &:link, &:visited, &:hover, &:active {
        color: $lightBlue;
      }
    }
  } // end li
} // end flex-outer
