// _variables.scss
// =================

// Fonts
$bodyFont : Helvetica, Arial, sans-serif;

// Primary Colors
$blue          : #14467C;
$orange        : #F78E22;

// Secondary Colors
$blueGrey      : #3B434F;
$black         : #000;
$grey          : #5B5B5B;
$lightGrey     : #F5F5F5;
$red           : #E74C3C;
$green         : #27AE60;
$white         : #FFF;


